
/*
*   ===========================================================
*   USE STATEMENT
*   This forwards the variables declared above into the impl.
*   ===========================================================
*/

@use 'hollywood-impl' with (
    $color-primary: $color-primary,
    $color-success: $color-success,
    $color-warning: $color-warning,
    $color-danger: $color-danger,
    $color-info: $color-info,
    $color-primary-light: $color-primary-light,
    $ui-tx-color: $ui-tx-color,
    $ui-bg-color: $ui-bg-color,
    $ui-link-color: $ui-link-color,
    $ux-textbox-bg: $ux-textbox-bg,
    $ux-textbox-label: $ux-textbox-label,
    $ux-textbox-text: $ux-textbox-text,
    $ux-textbox-icon: $ux-textbox-icon,
    $ux-button-bg: $ux-button-bg,
    $ux-button-bg-h: $ux-button-bg-h,
    $ux-button-bg-p: $ux-button-bg-p,
    $ux-button-label: $ux-button-label,
    $ux-checkbox-bg: $ux-checkbox-bg,
    $ux-checkbox-icon: $ux-checkbox-icon,
    $ux-checkbox-border: $ux-checkbox-border,
    $ux-checkbox-checked-bg: $ux-checkbox-checked-bg,
    $ux-checkbox-checked-icon: $ux-checkbox-checked-icon,
    $ux-checkbox-label: $ux-checkbox-label,
    $ux-dropdown-bg: $ux-dropdown-bg,
    $ux-dropdown-text: $ux-dropdown-text,
    $ux-dropdown-shadow: $ux-dropdown-shadow,
    $ux-context-bg: $ux-context-bg,
    $ux-context-text: $ux-context-text,
    $ux-context-shadow: $ux-context-shadow,
    $ux-pagelist-button-bg: $ux-pagelist-button-bg,
    $ux-pagelist-button-hover-bg: $ux-pagelist-button-hover-bg,
    $ux-pagelist-button-press-bg: $ux-pagelist-button-press-bg,
    $ux-pagelist-button-text: $ux-pagelist-button-text,
    $ux-pagelist-details-text: $ux-pagelist-details-text,
    $ui-errw-text: $ui-errw-text,
    $ui-errw-bg: $ui-errw-bg,
    $ui-errw-icon: $ui-errw-icon,
    $ui-ban-bg: $ui-ban-bg,
    $ui-ban-ver: $ui-ban-ver,
    $ui-ban-sup: $ui-ban-sup,
    $ui-ban-ctl-icon: $ui-ban-ctl-icon,
    $ui-ban-ctl-bg-hover: $ui-ban-ctl-bg-hover,
    $ui-ban-ctl-bg-press: $ui-ban-ctl-bg-press,
    $ui-ban-ctl-cbg-hover: $ui-ban-ctl-cbg-hover,
    $ui-ban-ctl-cbg-press: $ui-ban-ctl-cbg-press,
    $ui-nav-bg: $ui-nav-bg,
    $ui-nav-icon: $ui-nav-icon,
    $ui-nav-bg-ctl: $ui-nav-bg-ctl,
    $ui-nav-bg-sel: $ui-nav-bg-sel,
    $ui-nav-ico-sel: $ui-nav-ico-sel,
    $ui-nav-ico-rst: $ui-nav-ico-rst,
    $ui-nav-lbl-bg: $ui-nav-lbl-bg,
    $ui-nav-lbl-txt: $ui-nav-lbl-txt,
    $ui-nav-lbl-shadow: $ui-nav-lbl-shadow,
    $ui-login-ctl-bg: $ui-login-ctl-bg,
    $ui-login-corner-icon-color: $ui-login-corner-icon-color,
    $ui-changelog-title-text: $ui-changelog-title-text,
    $ui-changelog-content-text: $ui-changelog-content-text,
    $ux-box-txt: $ux-box-txt,
    $ux-box-bg: $ux-box-bg,
    $ux-box-border: $ux-box-border,
    $ux-box-shadow: $ux-box-shadow,
    $ux-editor-tab-bg: $ux-editor-tab-bg,
    $ux-editor-stab-bg: $ux-editor-stab-bg,
    $ux-editor-border-bg: $ux-editor-border-bg,
    $ux-button-padding-v: $ux-button-padding-v,
    $ux-button-padding-h: $ux-button-padding-h,
    $ux-button-radius: $ux-button-radius,
    $ux-editor-file-category: $ux-editor-file-category,
    $ux-editor-file-category-text: $ux-editor-file-category-text,
    $ux-editor-file-active-color: $ux-editor-file-active-color,
    $ux-editor-imgbutton-color: $ux-editor-imgbutton-color,
    $ux-editor-imgbutton-hover-color: $ux-editor-imgbutton-hover-color,
    $ux-package-title: $ux-package-title,
    $ux-package-button-text: $ux-package-button-text,
    $ux-package-button-install: $ux-package-button-install,
    $ux-package-button-run: $ux-package-button-run,
    $ux-package-button-update: $ux-package-button-update,
    $ux-package-banner-bg: $ux-package-banner-bg,
    $ux-package-description-txt: $ux-package-description-txt,
    $ux-package-entry-bg: $ux-package-entry-bg,
    $ux-update-text: $ux-update-text,
    $ux-update-progress-text: $ux-update-progress-text,
    $ux-dialog: $ux-dialog,
    $ux-dialog-text: $ux-dialog-text,
    $ux-dialog-title: $ux-dialog-title,
    $ux-dialog-actions: $ux-dialog-actions,
    $ux-uisettings-bar: $ux-uisettings-bar,
    $ux-uisettings-entry-text: $ux-uisettings-entry-text,
    $ux-uisettings-entry-text-hover: $ux-uisettings-entry-text-hover,
    $ux-uisettings-entry-text-select: $ux-uisettings-entry-text-select,
    $ux-uisettings-entry-bg-select: $ux-uisettings-entry-bg-select,
);

@import url('../node_modules/highlight.js/styles/agate.css');

@function asset($path) {
    @return url("#{asset_path($path)}")
}

#ban_logo {
    background-image: url('./assets/logo_white.svg');
}