
/*
*   ===========================================================
*   USE STATEMENT
*   This forwards the variables declared above into the impl.
*   ===========================================================
*/

@use 'hollywood-impl' with (
    $hw-bg-deep: $hw-bg-deep,    
    $hw-bg: $hw-bg,    
    $hw-base: $hw-base,    
    $hw-layer1: $hw-layer1,    
    $hw-layer2: $hw-layer2,    
    $hw-layer3: $hw-layer3,    
    $hw-layer4: $hw-layer4,    
    $hw-text: $hw-text,    
    $hw-text-sub: $hw-text-sub,    
    $hw-red: $hw-red,    
    $hw-red-dark: $hw-red-dark,    
    $hw-yellow: $hw-yellow,    
    $hw-yellow-dark: $hw-yellow-dark,    
    $hw-green: $hw-green,    
    $hw-green-dark: $hw-green-dark,    
    $hw-blue: $hw-blue,    
    $hw-blue-dark: $hw-blue-dark,
    $hw-primary: $hw-primary,
    $hw-titlebar-bg: $hw-titlebar-bg,
    $hw-titlebar-text: $hw-titlebar-text,
    $hw-titlebar-control: $hw-titlebar-control,
    $hw-titlebar-control-bg: $hw-titlebar-control-bg,
    $hw-titlebar-control-bg-hover: $hw-titlebar-control-bg-hover,
    $hw-titlebar-control-bg-active: $hw-titlebar-control-bg-active,
    $hw-navigation-icon: $hw-navigation-icon,
    $hw-navigation-icon-shadow: $hw-navigation-icon-shadow,       
    $hw-navigation-icon-hover: $hw-navigation-icon-hover,
    $hw-navigation-icon-select: $hw-navigation-icon-select,
    $hw-navigation-icon-accent: $hw-navigation-icon-accent,
    $hw-navigation-label-bg: $hw-navigation-label-bg,
    $hw-navigation-label-text: $hw-navigation-label-text,
    $hw-navigation-label-icon: $hw-navigation-label-icon,
    $hw-navigation-label-shadow: $hw-navigation-label-shadow,      
    $hw-dialog-bg: $hw-dialog-bg,
    $hw-dialog-text: $hw-dialog-text,
    $hw-dialog-shadow: $hw-dialog-shadow,
    $hw-dialog-caption: $hw-dialog-caption,
    $hw-dialog-inputs-bg: $hw-dialog-inputs-bg,
    $hw-changelog-bg: $hw-changelog-bg,
    $hw-changelog-text: $hw-changelog-text,
    $hw-changelog-shadow: $hw-changelog-shadow,
    $hw-changelog-caption-bg: $hw-changelog-caption-bg,
    $hw-changelog-caption-text: $hw-changelog-caption-text,
    $hw-changelog-caption-icon: $hw-changelog-caption-icon,
    $hw-tasks-bg: $hw-tasks-bg,
    $hw-tasks-text: $hw-tasks-text,
    $hw-tasks-shadow: $hw-tasks-shadow,
    $hw-tasks-caption-bg: $hw-tasks-caption-bg,
    $hw-tasks-caption-text: $hw-tasks-caption-text,
    $hw-tasks-task-bg: $hw-tasks-task-bg,
    $hw-tasks-task-text: $hw-tasks-task-text,
    $hw-tasks-task-subtext: $hw-tasks-task-subtext,
    $hw-tasks-task-shadow: $hw-tasks-task-shadow,
    $hw-tasks-task-inprogress: $hw-tasks-task-inprogress,
    $hw-tasks-task-complete: $hw-tasks-task-complete,
    $hw-tasks-task-failure: $hw-tasks-task-failure,
    $hw-button-bg: $hw-button-bg,               
    $hw-button-text: $hw-button-text,
    $hw-button-border: $hw-button-border,                
    $hw-button-shadow: $hw-button-shadow,                
    $hw-button-bg-hover: $hw-button-bg-hover,
    $hw-button-text-hover: $hw-button-text-hover,
    $hw-button-border-hover: $hw-button-border-hover,
    $hw-button-shadow-hover: $hw-button-shadow-hover,
    $hw-button-bg-active: $hw-button-bg-active,
    $hw-button-text-active: $hw-button-text-active,
    $hw-button-border-active: $hw-button-border-active,
    $hw-button-shadow-active: $hw-button-shadow-active,
    $hw-textbox-bg: $hw-textbox-bg,
    $hw-textbox-text: $hw-textbox-text,
    $hw-textbox-caption: $hw-textbox-caption,
    $hw-textbox-border: $hw-textbox-border,
    $hw-textbox-shadow: $hw-textbox-shadow,
    $hw-textbox-icon: $hw-textbox-icon,
    $hw-checkbox-bg: $hw-checkbox-bg,
    $hw-checkbox-icon: $hw-checkbox-icon,
    $hw-checkbox-bg-on: $hw-checkbox-bg-on,    
    $hw-checkbox-icon-on: $hw-checkbox-icon-on,     
    $hw-checkbox-shadow: $hw-checkbox-shadow,
    $hw-dropdown-bg: $hw-dropdown-bg,
    $hw-dropdown-text: $hw-dropdown-text,
    $hw-dropdown-chevron: $hw-dropdown-chevron,     
    $hw-dropdown-shadow: $hw-dropdown-shadow,
    $hw-slider-bg: $hw-slider-bg,
    $hw-slider-bar: $hw-slider-bar,
    $hw-slider-pin: $hw-slider-pin,
    $hw-slider-caption: $hw-slider-caption,
    $hw-contextmenu-bg: $hw-contextmenu-bg,
    $hw-contextmenu-text: $hw-contextmenu-text,
    $hw-contextmenu-text-select: $hw-contextmenu-text-select,
    $hw-contextmenu-icon: $hw-contextmenu-icon,
    $hw-contextmenu-icon-select: $hw-contextmenu-icon-select,
    $hw-contextmenu-shadow: $hw-contextmenu-shadow,
    $hw-multimenu: $hw-multimenu,
    $hw-multimenu-pages: $hw-multimenu-pages,
    $hw-multimenu-list-shadow: $hw-multimenu-list-shadow,
    $hw-multimenu-button-bg: $hw-multimenu-button-bg,
    $hw-multimenu-button-text: $hw-multimenu-button-text,
    $hw-multimenu-button-subtext: $hw-multimenu-button-subtext,
    $hw-multimenu-button-shadow: $hw-multimenu-button-shadow,
    $hw-multimenu-accent: $hw-multimenu-accent,
    $hw-multimenu-icon: $hw-multimenu-icon,
    $hw-multimenu-button-bg-hover: $hw-multimenu-button-bg-hover,
    $hw-multimenu-button-bg-select: $hw-multimenu-button-bg-select,
    $hw-editor-tab-bg: $hw-editor-tab-bg,
    $hw-editor-tab-caption: $hw-editor-tab-caption,
    $hw-editor-tab-icon: $hw-editor-tab-icon,
    $hw-editor-tab-close: $hw-editor-tab-close,
    $hw-editor-tab-border: $hw-editor-tab-border,
    $hw-editor-tab-shadow: $hw-editor-tab-shadow,
    $hw-editor-tab-bg-select: $hw-editor-tab-bg-select,
    $hw-editor-tab-caption-select: $hw-editor-tab-caption-select,
    $hw-editor-tab-icon-select: $hw-editor-tab-icon-select,
    $hw-editor-tab-close-select: $hw-editor-tab-close-select,
    $hw-editor-tab-border-select: $hw-editor-tab-border-select,
    $hw-editor-tab-shadow-select: $hw-editor-tab-shadow-select,
    $hw-editor-add-tab: $hw-editor-add-tab,
    $hw-editor-add-tab-bg: $hw-editor-add-tab-bg,
    $hw-editor-border-color: $hw-editor-border-color,  
    $hw-editor-shadow-color: $hw-editor-shadow-color,  
    $hw-editor-sidebar-bg: $hw-editor-sidebar-bg,
    $hw-editor-sidebar-entry-caption-bg: $hw-editor-sidebar-entry-caption-bg,
    $hw-editor-sidebar-entry-caption-icon: $hw-editor-sidebar-entry-caption-icon,
    $hw-editor-sidebar-entry-caption-chevron: $hw-editor-sidebar-entry-caption-chevron,
    $hw-editor-sidebar-entry-caption-text: $hw-editor-sidebar-entry-caption-text,
    $hw-editor-sidebar-node-bg: $hw-editor-sidebar-node-bg,
    $hw-editor-sidebar-node-text: $hw-editor-sidebar-node-text,
    $hw-editor-sidebar-node-author: $hw-editor-sidebar-node-author,
    $hw-editor-sidebar-node-icon: $hw-editor-sidebar-node-icon,
    $hw-editor-sidebar-node-bg-hover: $hw-editor-sidebar-node-bg-hover,
    $hw-editor-sidebar-node-bg-active: $hw-editor-sidebar-node-bg-active,
    $hw-editor-action-bg: $hw-editor-action-bg,
    $hw-editor-action-icon: $hw-editor-action-icon,
    $hw-editor-shadow: $hw-editor-shadow,
    $hw-editor-action-bg-hover: $hw-editor-action-bg-hover,
    $hw-editor-action-icon-hover: $hw-editor-action-icon-hover,
    $hw-editor-shadow-hover: $hw-editor-shadow-hover,
    $hw-editor-action-bg-active: $hw-editor-action-bg-active,
    $hw-editor-action-icon-active: $hw-editor-action-icon-active,
    $hw-editor-shadow-active: $hw-editor-shadow-active,
    $hw-editor-toolbar-border: $hw-editor-toolbar-border
);

@function asset($path) {
    @return url("#{asset_path($path)}")
}

#titlebar-logo {
    background-image: url('../assets/logo_white.svg');
}